@use '../../../../shared/styles/helpers/variables.scss' as *;
@use '../../../../shared/styles/helpers/functions.scss' as func;
@use '../../../../shared/styles/helpers/mixins.scss' as mixin;

.productsSection {
  padding-top: func.toRem(20);
  padding-bottom: func.toRem(120);

  @media (min-width: $max-viewport) {
    padding-top: func.toRem(20);
    padding-bottom: func.toRem(120);
  }
}

.inner {
  display: flex;
  justify-content: space-between;
  column-gap: func.toRem(24);

  @media (max-width: $m-viewport) {
    justify-content: center;
    column-gap: 0;
  }
}

.listInner {
  position: relative;
  font-size: func.toRem(16);
  font-weight: 500;
}

.select {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;

  @media (max-width: $m-viewport) {
    width: fit-content;
  }
}

.listGrid {
  padding-top: func.toRem(60);
  --columns: 3;
  display: grid;
  gap: 32px 25px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @media (max-width: $m-viewport) {
    --columns: 2;
    padding-top: func.toRem(34);
  }

  @media (max-width: $s-viewport) {
    gap: 16px;
  }
}
