@use '../../../../shared/styles/helpers/variables.scss' as *;
@use '../../../../shared/styles/helpers/functions.scss' as func;
@use '../../../../shared/styles/helpers/mixins.scss' as mixin;

.productsSection {
  padding-top: func.toRem(20);
  padding-bottom: func.toRem(120);
  position: relative;

  @media (min-width: $max-viewport) {
    padding-top: func.toRem(20);
    padding-bottom: func.toRem(120);
  }
}

.title {
  padding: func.toRem(32) 0;
  font-size: func.toRem(48);
  line-height: func.toRem(57.6);
}

.inner {
  display: flex;
  justify-content: space-between;
  column-gap: func.toRem(24);

  @media (max-width: $m-viewport) {
    justify-content: center;
    column-gap: 0;
  }
}

.listInner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  font-size: func.toRem(16);
  font-weight: 500;
  width: 100%;
}

.productsNumber {
  color: $gray300;
  position: absolute;
  top: func.toRem(20);

  @media (max-width: $m-viewport) {
    top: func.toRem(40);
  }
}

.select {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;

  @media (max-width: $m-viewport) {
    width: fit-content;
  }
}

.listGrid {
  padding-top: func.toRem(60);
  --columns: 3;
  display: grid;
  gap: 32px 25px;
  grid-template-columns: repeat(var(--columns), 1fr);
  justify-items: center;
  margin-bottom: func.toRem(64);

  @media (max-width: $m-viewport) {
    --columns: 2;
  }

  @media (max-width: $s-viewport) {
    gap: 16px;
  }
}
