@use '../../../../shared/styles/helpers/variables.scss' as *;
@use '../../../../shared/styles/helpers/mixins.scss' as mixin;
@use '../../../../shared/styles/helpers/functions.scss' as func;
.footer {
  background-color: $lightGrey;
  margin-top: auto;
  width: 100%;
  padding: func.toRem(45) ;
  @media (max-width: $xs-viewport) {
  }
}

.logo {
  width: func.toRem(193);
  display: block;

  @media (max-width: $xs-viewport) {
    display: none;
  }
}

.container {
  @media (max-width: $xs-viewport) {
    display: flex;
    justify-content: center;
  }
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: func.toRem(30) 0;
  @media (max-width: $xs-viewport) {
    display: block;
  }
}

.copyright {
  font-size: 14px;
  @media (max-width: $xs-viewport) {
    text-align: center;
  }
}
