@use '../../../../shared/styles/helpers/variables.scss' as *;
@use '../../../../shared/styles/helpers/mixins.scss' as mixin;
@use '../../../../shared/styles/helpers/functions.scss' as func;

.footer {
  background-color: $lightGrey;
  margin-top: auto;
  padding: func.toRem(50) func.toRem(80);
  height: func.toRem(472);

  @media (max-width: $xs-viewport) {
    text-align: center;
    padding: func.toRem(37) 0;
    height: func.toRem(260);
  }
}

.logo {
  width: func.toRem(193);
  display: block;

  @media (max-width: $xs-viewport) {
    display: none;
  }
}

.content {
  display: flex;
  flex-direction: row;
  gap: 48px;
  margin: func.toRem(53) 0 func.toRem(33);

  @media (max-width: $xs-viewport) {
    margin: 0;
    display: block;
    padding: 0;
  }
}

.copyright {
  font-size: 14px;

  @media (min-width: $max-viewport) {
    font-size: func.toRem(14);
  }

  @media (max-width: $xs-viewport) {
    font-size: 12px;
  }
}
