@use '../../../../shared/styles/helpers/variables.scss' as *;
@use '../../../../shared/styles/helpers/mixins.scss' as mixin;
@use '../../../../shared/styles/helpers/functions.scss' as func;

.footer {
  background-color: $bg;
  padding-bottom: 25px;

  @media (max-width: $s-viewport) {
    text-align: center;
    padding-bottom: 45px;
    margin-top: func.toRem(45);
  }
}

.miniFooter {
  padding-bottom: func.toRem(51);

  @media (max-width: $s-viewport) {
    padding-bottom: func.toRem(31);
  }
}

.content {
  display: flex;
  gap: func.toRem(239);

  @media (max-width: $m-viewport) {
    gap: func.toRem(139);
  }
  @media (max-width: $sm-viewport) {
    gap: func.toRem(70);
  }
  @media (max-width: $s-viewport) {
    flex-direction: column;
    gap: func.toRem(22);
  }
}

.contentInfo {
  display: flex;
  gap: func.toRem(24);
  padding: func.toRem(60) 0 0;

  @media (max-width: $s-viewport) {
    gap: func.toRem(16);
    text-align: start;
    padding: 0;
  }
}

.contentLinks {
  display: flex;
  justify-content: end;
  align-items: end;
  padding-top: func.toRem(30);
  gap: func.toRem(7);

  @media (max-width: $s-viewport) {
    flex-direction: column;
    gap: func.toRem(22);
    padding-top: func.toRem(28);
    text-align: start;
    align-items: start;
  }
}

.miniLinks {
  display: flex;
  justify-content: start;
  align-items: start;
  padding-top: func.toRem(51);

  @media (max-width: $s-viewport) {
    padding-top: func.toRem(31);
  }
}

.copyright {
  text-align: end;
  font-size: func.toRem(12);
  color: $white;
  padding-bottom: func.toRem(15);
  padding-right: func.toRem(5);

  @media (max-width: $m-viewport) {
    padding-right: 0;
  }

  @media (max-width: $s-viewport) {
    font-size: func.toRem(16);
    padding-bottom: 0;
  }
}

.miniCopyright {
  text-align: start;
  font-size: func.toRem(24);
  color: $white;
  text-transform: uppercase;
  padding-bottom: 0;
  @media (max-width: $s-viewport) {
    font-size: func.toRem(14);
  }
}
