@use '../../../../shared/styles/helpers/variables.scss' as *;
@use '../../../../shared/styles/helpers/mixins.scss' as mixin;
@use '../../../../shared/styles/helpers/functions.scss' as func;

.header {
  border-bottom: func.toRem(1) solid $border;

  @media (max-width: $m-viewport) {
    padding: func.toRem(26) 0;
  }
}

.inner {
  @include mixin.flexible;
  gap: 28px;

  @media (max-width: $xs-viewport) {
    gap: 0;
  }

  @media (min-width: $max-viewport) {
    gap: func.toRem(28);
  }
}

.leftHeader {
  @include mixin.flexible;
  gap: func.toRem(45);
}

.rightHeader {
  @include mixin.flexible;
  gap: func.toRem(42);
  flex-grow: 1;
}

.burger {
  display: none;

  @media (max-width: $m-viewport) {
    display: block;

    padding-right: func.toRem(24);
  }
}
