@use '../../../../shared/styles/helpers/variables.scss' as *;
@use '../../../../shared/styles/helpers/mixins.scss' as mixin;
@use '../../../../shared/styles/helpers/functions.scss' as func;

.header {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 3;

  @media (max-width: $m-viewport) {
    padding: func.toRem(26) 0;
  }
}

.inner {
  @include mixin.flexible;
}

.leftHeader {
  @include mixin.flexible;
  gap: 120px;
}

.rightHeader {
  @include mixin.flexible;
  justify-content: end;
  flex-grow: 1;
  gap: 5px;
}

.burger {
  display: none;

  @media (max-width: $m-viewport) {
    display: block;
  }

  @media (max-width: $xs-viewport) {
    width: func.toRem(24);
  }
}
