@use '../../../../shared/styles/helpers/variables.scss' as *;
@use '../../../../shared/styles/helpers/functions.scss' as func;

.info {
  order: 1;
  @media (max-width: $xs-viewport) {
    order: 2;
    // flex: 1;
  }
}
.infoTitle {
  @media (max-width: $xs-viewport) {
    display: none;
  }
}
.infoList {
  gap: 8px;

  @media (max-width: $xs-viewport) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 25px;
  }
}
