@use '../../../../shared/styles/helpers/variables.scss' as *;
@use '../../../../shared/styles/helpers/functions.scss' as func;

.logo {
  display: block;
  text-transform: uppercase;

  &:focus {
    outline-color: transparent;
  }
}

.headerLogo {
  font-weight: 700;
  font-size: func.toRem(23.54);
  line-height: func.toRem(32.49);
  color: $gray950;
}

.footerLogo {
  width: func.toRem(658);
  font-size: func.toRem(126);
  color: $gray100;
  font-weight: 600;
  padding-top: func.toRem(33);

  @media (max-width: $m-viewport) {
    font-size: func.toRem(75);
    padding-top: func.toRem(52);
  }

  @media (max-width: $sm-viewport) {
    font-size: func.toRem(44);
    padding-top: func.toRem(56);
  }

  @media (max-width: $s-viewport) {
    width: func.toRem(343);
    padding-top: func.toRem(34);
    font-size: func.toRem(66);
  }
}
