@use '../../../shared/styles/helpers/functions.scss' as func;
@use '../../../shared/styles/helpers/variables.scss' as *;
@use '../../../shared/styles/helpers/mixins.scss' as mixin;

.title {
  margin-bottom: func.toRem(24);
}

.filterContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: func.toRem(16) func.toRem(24);
  justify-items: center;
  max-width: fit-content;
}

@media (max-width: $m-viewport) {
  .filterColor {
    padding: 0 func.toRem(32);
    margin-bottom: func.toRem(80);
  }

  .filterContainer {
    display: flex;
  }
}

@media (max-width: $s-viewport) {
  .filterContainer {
    display: grid;
  }
}
