@use '../../styles/helpers/variables.scss' as *;
@use '../../styles/helpers/mixins.scss' as mixin;
@use '../../styles/helpers/functions.scss' as func;

.modalContainer {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $white;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.closeIcon {
  width: func.toRem(19);
  height: func.toRem(19);
  position: absolute;
  right: 43px;
  top: 24px;
}

.modalContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modalTitle {
  text-transform: uppercase;
  font-size: func.toRem(32);
  line-height: func.toRem(38.4);
  padding-bottom: func.toRem(12);
}

.modalDescription {
  font-size: func.toRem(24);
  color: $gray400;
}

.errorPopUpBtn {
  padding: func.toRem(18) func.toRem(33);
  margin-top: func.toRem(32);
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}э
.fadeOut {
  animation: fadeOut 0.5s ease-in-out;
}
