@use '../../../../shared/styles/helpers/variables.scss' as *;

.socials {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 16px;
  flex-grow: 1;

  svg path {
    fill: $green;
  }
}
