@use '../../../../shared/styles/helpers/variables.scss' as *;
@use '../../../../shared/styles/helpers/mixins.scss' as mixin;
@use '../../../../shared/styles/helpers/functions.scss' as func;

.menu {
  padding: func.toRem(24) func.toRem(16) func.toRem(48) func.toRem(16);
  position: absolute;
  top: 0;
  left: 0;
  background-color: $white;
  z-index: 3;
  height: 100vh;
  font-size: func.toRem(20);
  line-height: func.toRem(24);
  overflow-y: scroll;
  opacity: 0;
  transform: translateX(-100%);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  display: flex;
  flex-direction: column;

  &.animating {
    opacity: 1;
    transform: translateX(0);
  }
}

.menuTop {
  @include mixin.flexible;
  margin-bottom: func.toRem(16);
}

.burgerLogo {
  font-size: func.toRem(41.15);
  line-height: func.toRem(56.78);
  margin-right: func.toRem(37);
  display: block;
}

.navigation {
  margin-bottom: func.toRem(16);
}
