@use '../../../../shared/styles/helpers/variables.scss' as *;
@use '../../../../shared/styles/helpers/functions.scss' as func;

.catalog {
  @media (max-width: $s-viewport) {
    display: none;
  }
}
.catalogTitle {
  margin-bottom: 20px;
}
.catalogList {
  li {
    margin-bottom: 16px;
  }
}
