@use '../../../../shared/styles/helpers/variables.scss' as *;
@use '../../../../shared/styles/helpers/functions.scss' as func;

.catalog {
  margin-bottom: 28px;

  @media (max-width: $xs-viewport) {
    display: none;
  }
}

.catalogList {

  @media (max-width: $xs-viewport) {
    display: none;
  }

  li {
    margin-bottom: 16px;
  }
}
