@use '../../../../shared/styles/helpers/variables.scss' as *;
@use '../../../../shared/styles/helpers/functions.scss' as func;

.catalog {
  width: func.toRem(200);
}

.catalogTitle {
  padding-bottom: func.toRem(17);
  font-weight: 500;
  font-size: func.toRem(24);
  color: $white;

  @media (max-width: $s-viewport) {
    font-weight: 400;
    font-size: func.toRem(20);
    padding-bottom: func.toRem(12);
  }
}

.catalogList {
  li {
    padding-bottom: func.toRem(12);
    color: $gray200;

    @media (max-width: $s-viewport) {
      padding-bottom: 10px;
    }
  }
}
