@use '../../shared/styles/helpers/variables.scss' as *;
@use '../../shared/styles/helpers/mixins.scss' as mixin;
@use '../../shared/styles/helpers/functions.scss' as func;

.no-scroll {
  overflow: hidden;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow: hidden;
  opacity: 0;
  animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.modalBackdrop.closing {
  animation: fadeOut 0.3s ease forwards;
}

.cartPage {
  margin: auto;
  border-radius: 15px;
  background-color: $white;
  height: func.toRem(559);
  width: func.toRem(1258);
  @media (max-width: $m-viewport) {
    width: func.toRem(900);
  }

  @media (max-width: $sm-viewport) {
    height: 100%;
    padding: 0;
    border-radius: 0;
  }
}

.cartHeader {
  @include mixin.flexible;
  border-bottom: func.toRem(1) solid $green;
  padding: func.toRem(23) func.toRem(32) func.toRem(16);

  @media (max-width: $sm-viewport) {
    border-bottom: 1px solid $gray200;
    padding: func.toRem(20) func.toRem(46) func.toRem(13);
  }

  @media (max-width: $xs-viewport) {
    border-bottom: 1px solid $gray200;
    padding: func.toRem(20) func.toRem(16) func.toRem(13);
  }
}

.title {
  text-transform: uppercase;
  font-size: func.toRem(24);
}

.closeIcon {
  width: func.toRem(40);
  height: func.toRem(21);
  margin-bottom: func.toRem(6);

  @media (max-width: $s-viewport) {
    width: 42px;
    height: 22px;
    margin-bottom: 4px;
  }
}

.info {
  display: flex;
  padding: 0 func.toRem(30);

  @media (max-width: $m-viewport) {
    gap: func.toRem(25);
  }

  @media (max-width: $sm-viewport) {
    flex-direction: column;
    gap: 0;
  }

  @media (max-width: $s-viewport) {
    padding: 0;
  }
}

.cartList {
  display: block;
  max-height: func.toRem(460);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: $green $white;
  scrollbar-width: thin;
  padding-right: func.toRem(40);

  @media (max-width: $m-viewport) {
    padding-right: func.toRem(20);
  }

  @media (max-width: $sm-viewport) {
    max-height: func.toRem(700);
  }

  @media (max-width: $s-viewport) {
    max-height: func.toRem(559);
    padding-top: func.toRem(24);
    padding-left: func.toRem(16);
    padding-right: 16px;
  }
  
}
