@use '../../../../../shared/styles/helpers/variables.scss' as *;
@use '../../../../../shared/styles/helpers/functions.scss' as func;

.link {
  display: inline-block;
  font-size: func.toRem(16);
  line-height: func.toRem(22);
  margin-bottom: func.toRem(8);
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;

  &:first-child {
    color: $green;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.errorMessage,
.loading {
  padding: 16px;
  font-size: func.toRem(16);
  line-height: func.toRem(22);
  position: absolute;
  background-color: $white;
  padding: func.toRem(16);
  border-radius: 0 0 func.toRem(8) func.toRem(8);
  top: func.toRem(35);
  width: 100%;
  z-index: 1;

  @media (max-width: $s-viewport) {
    border-radius: 0;
  }
}
