@use '../../../../../shared/styles/helpers/variables.scss' as *;
@use '../../../../../shared/styles/helpers/functions.scss' as func;

.link {
  display: inline-block;
  font-size: func.toRem(16);
  line-height: func.toRem(22);
  margin-bottom: func.toRem(8);
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;

  &:first-child {
    color: $green;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.errorMessage {
  font-size: func.toRem(16);
  line-height: func.toRem(22);
}
