@use '../../../../shared/styles/helpers/variables.scss' as *;
@use '../../../../shared/styles/helpers/functions.scss' as func;

.methodContainer {
  margin-bottom: func.toRem(18);

  .method {
    margin-bottom: func.toRem(20);
  }
}

.methodItem {
  margin-bottom: func.toRem(18);
}

.methodList {
  padding-left: func.toRem(32);
  transition: all 0.3s ease-in-out;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.showMethodList {
  opacity: 1;
  max-height: func.toRem(200);
}

.methodItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.methodIcon {
  padding: func.toRem(3) func.toRem(22);
  border: func.toRem(1) solid $gray400;
  border-radius: func.toRem(10);
  display: flex;
}

.icon {
  width: func.toRem(22);
  height: func.toRem(22);
}
