@use '../../../../shared/styles/helpers/variables.scss' as *;
@use '../../../../shared/styles/helpers/functions.scss' as func;

.subscribe {
  display: flex;
  padding: func.toRem(144) 0;
}

.title {
  font-weight: 700;
  font-size: func.toRem(48);
  line-height: func.toRem(52.8);
  margin-right: func.toRem(83);
  color: $mainGreen;
  text-transform: uppercase;
  padding: 25px 0 8px 0;
  max-width: 589px;
}

.form {
  margin-bottom: func.toRem(24);

  @media (max-width: $xs-viewport) {
    margin-bottom: 16px;
  }
}

.formDescription {
  font-size: func.toRem(18);
  line-height: func.toRem(21.6);
  color: rgba(93, 93, 93, 1);
}
