@use '../../../../shared/styles/helpers/variables.scss' as *;
@use '../../../../shared/styles/helpers/functions.scss' as func;

.subscribe {
  display: flex;
}

.title {
  font-weight: 700;
  font-size: func.toRem(48);
  line-height: func.toRem(52.8);
  margin-right: func.toRem(83);
  color: $green;
  text-transform: uppercase;
  padding: func.toRem(20) 0 func.toRem(8) 0;
  max-width: func.toRem(589);
}

.form {
  margin-bottom: func.toRem(26);
}

.formDescription {
  font-size: func.toRem(18);
  line-height: func.toRem(21.6);
  color: $gray600;
}

.successSubmit {
  display: block;
  position: fixed;
  top: 102px;
  padding: func.toRem(15.5) func.toRem(11);
  background-color: $green;
  font-size: func.toRem(24);
  line-height: func.toRem(22.08);
  text-align: center;
  width: 100%;
  color: $white;
  text-transform: uppercase;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.successSubmit.show {
  opacity: 1;
}

@media (max-width: $m-viewport) {
  .subscribe {
    display: block;
  }

  .title {
    margin-right: 0;
    padding: 0;
  }
}

@media (max-width: $xs-viewport) {
  .form {
    margin-bottom: 16px;
  }
}

@media (max-width: $sm-viewport) {
  .title {
    margin-bottom: 10px;
  }

  .formDescription {
    display: none;
  }

  .successSubmit {
    font-size: 16px;
    line-height: 18.4px;
    padding: 16px 10px;
    top: 100px;
  }
}

@media (max-width: $s-viewport) {
  .title {
    font-size: 32px;
    line-height: 38.4px;
  }
}
