@use '../../../../../shared/styles/helpers//variables.scss' as *;
@use '../../../../../shared/styles/helpers/mixins.scss' as mixin;
@use '../../../../../shared/styles/helpers/functions.scss' as func;

.counter {
  margin-right: func.toRem(70);
  width: func.toRem(46);
  white-space: nowrap;
  @media (max-width: $m-viewport) {
    margin-right: func.toRem(40);
  }
}

.counterActions {
  color: rgba(102, 102, 102, 1);
  cursor: pointer;
  font-size: 15px;
}

.quantity {
  margin: 0 10px;
  font-weight: 500;
  font-size: 18px;
}
