@use '../../../../shared/styles/helpers/variables.scss' as *;
@use '../../../../shared/styles/helpers/functions.scss' as func;

.subscribeInputForm {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-right: 32px;
}

.inputContainer {
  position: relative;
  width: 100%;
  margin-right: func.toRem(44);
}

.subscribeInput {
  padding: func.toRem(2) func.toRem(10) func.toRem(8) func.toRem(33);
  width: 100%;
  font-size: 16px;
  line-height: func.toRem(22.4);
  border: none;
  border-bottom: 1px solid rgba(49, 49, 49, 1);
  color: rgba(105, 112, 119, 1);
}

.emailIcon {
  position: absolute;
  top: 0;
  left: func.toRem(0);
  width: func.toRem(24);
  height: func.toRem(24);
}
