@use '../../styles/helpers/variables.scss' as *;
@use '../../styles/helpers/functions.scss' as func;

.buttonContainer {
  max-width: 219px;
  width: 100%;
}
.subscribeButton {
  padding: func.toRem(15.5) 0;
  font-size: 24px;
  line-height: 33.12px;
  border-radius: 8px;
  color: #fff;
  text-transform: uppercase;
  background-color: $mainGreen;
  width: 100%;
}

@media (max-width: 767px) {
  .buttonContainer {
    max-width: 100%;
  }
}
