.cartCheck,
.cartSvg {
  width: 20px;
  height: 20px;
}

.addButtonContainer {
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 66px;
  transition: all 0.03s ease-in 0s;
  border-color: transparent;
  border-radius: 15px;
  margin: 1px 0;

  overflow-x: hidden;

  &:hover {
    width: 154px;
    border-color: #a0a0a0;
  }
}

.controlButton {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  gap: 5px;
  right: calc(100% - 65px);
  height: 100%;
  padding-left: 4px;
  width: 110px;
  border-radius: 15px;
  transform: translateX(50%);
  font-size: 20px;
  border: 2px solid #a0a0a0;

  button {
    color: #666666;
  }

  .right {
    padding: 6px 6px;
  }

  .left {
    padding: 6px 6px;
  }

  .count {
    display: block;
    width: 15px;
    text-align: center;
  }
}

.hidden {
  display: none;
}