@use '../../shared/styles/helpers/variables.scss' as *;
@use '../../shared/styles/helpers/mixins.scss' as mixins;
@use '../../shared/styles/helpers/functions.scss' as func;

.banner {
  position: relative;
  margin-bottom: func.toRem(50);
  
  @media (max-width: $s-viewport) {
    display: none;
  }
}

.bannerImg {
  display: flex;
  flex-direction: row;

  & img {
    width: func.toRem(480);

    @media (max-width: $s-viewport) {
      height: 560px;
      width: func.toRem(500);
    }
  }
}

.bannerInfo {
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 56px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -27%);
  text-transform: uppercase;

  @media (max-width: $m-viewport) {
    transform: translate(-34%, -30%);
  }

  @media (max-width: $sm-viewport) {
    transform: translate(-25%, -30%);
  }

  @media (max-width: $s-viewport) {
    width: 340px;
    gap: 26px;
    transform: translate(-50%, -37%);
  }
}

.bannerTitle {
  width: func.toRem(1320);
  font-weight: 700;
  font-size: func.toRem(48);
  text-align: center;

  @media (max-width: $s-viewport) {
    font-size: func.toRem(32);
    width: func.toRem(332);
    line-height: 38px;
  }
}

.bannerBtn {
  color: #ffffff;
  font-weight: 400;
  font-size: func.toRem(24);
  padding-bottom: 4px;
  border-bottom: 1px solid #ffffff;
  text-transform: uppercase;

  @media (max-width: $s-viewport) {
    font-size: func.toRem(20);
  }
}

.bannerSwiper {
  display: none;

  @media (max-width: $s-viewport) {
    display: block;
    padding-bottom: 32px;
  }
}

.swiperButton {
  display: flex;
  justify-content: space-between;
}

.swiperButtonPrev,
.swiperButtonNext {
  position: absolute;
  background-color: rgba(245, 245, 245, 0);
  width: 50%;
  height: 96%;
  bottom: 24px;
  z-index: 1;
}

.swiperButtonNext {
  right: 0;
}
.swiperPagination {
  position: relative;
  padding: 12px 16px;
  display: flex;
  justify-content: center;
  gap: 13px;
  bottom: 0;
}

.swiperPaginationBullet {
  width: 61px;
  height: 8px;
  border-radius: 26px;
  background-color: #37643b;
}

.swiperPaginationBulletActive {
  width: 343px;
}
