@use '../../shared/styles/helpers/variables.scss' as *;
@use '../../shared/styles/helpers/mixins.scss' as mixins;
@use '../../shared/styles/helpers/functions.scss' as func;

.banner {
  position: relative;

  @media (max-width: $s-viewport) {
    display: none;
  }
}

.bannerImg {
  display: flex;
  flex-direction: row;

  & img {
    width: func.toRem(480);

    @media (max-width: $m-viewport) {
      width: func.toRem(341);
    }

    @media (max-width: $sm-viewport) {
      width: func.toRem(256);
    }

    @media (max-width: $s-viewport) {
      height: 560px;
      width: func.toRem(500);
    }
  }
}

.bannerSwiper {
  display: none;

  @media (max-width: $s-viewport) {
    display: block;
    // padding-bottom: 32px;
  }
}

.swiperButton {
  display: flex;
  justify-content: space-between;
}

.swiperButtonPrev,
.swiperButtonNext {
  position: absolute;
  background-color: rgba(245, 245, 245, 0);
  width: 50%;
  height: 96%;
  bottom: 24px;
  z-index: 1;

  @media (max-width: $s-viewport) {
    width: 35%;
  }
}

.swiperButtonNext {
  right: 0;
}
.swiperPagination {
  position: relative;
  padding: 12px 16px;
  display: flex;
  justify-content: center;
  gap: 13px;
  bottom: 0;
}

.swiperPaginationBullet {
  width: 61px;
  height: 8px;
  border-radius: 26px;
  background-color: $green;
  transition: width 0.3s;
}

.swiperPaginationBulletActive {
  width: 343px;
}
