@use '../../../../shared/styles/helpers/variables.scss' as *;
@use '../../../../shared/styles/helpers/functions.scss' as func;
@use '../../../../shared/styles/helpers/mixins.scss' as mixin;

.thankYouPage {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: func.toRem(24);
  padding-top: func.toRem(112);
  margin-bottom: func.toRem(135);
  width: 100%;
}

.leftSide {
  flex: 1;
  max-width: func.toRem(872);
  max-height: func.toRem(638);
  width: 100%;
}

.rightSide {
  flex: 1;
  max-width: func.toRem(424);
  height: func.toRem(718);
}

.thankYouContainer {
  background-color: $norway50;
  padding: func.toRem(20);
  margin-bottom: func.toRem(20);
  max-width: func.toRem(862);
  border-radius: 16px;
}

.header {
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.5rem;
  color: #333;
  font-family: 'Helvetica', sans-serif;
}

.header p {
  color: #868484;
  font-size: 18px;
  text-align: left;
}

.header h1 {
  text-align: left;
  font-size: 32px;
  font-weight: 600;
  color: #333;
}

.userName {
  font-weight: 600;
}

.details p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.label {
  font-size: 18px;
  color: #000000;
}

.value {
  font-size: 20px;
  color: #000;
  font-weight: bold;
}

.details p.info {
  color: #868484;
  margin-top: 32px;
  font-size: 16px;
  border-bottom: none;
  display: block;
  font-weight: 400;
}

.details p.email {
  border-bottom: none;
  display: block;
  font-size: func.toRem(16);
  font-weight: 400;
}

.shipping {
  margin-top: 56px;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-underline-position: from-font;
}

.imageBadge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  padding: 3px;
  gap: 4px;
  opacity: 1;
  transition: opacity 0.3s ease;
  margin-bottom: 10px;
}

.helpContainer {
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-top: 56px;
}

.textContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.help {
  font-weight: normal;
  margin: 0;
  font-size: func.toRem(18);
  font-weight: 400;
  font-family: Helvetica, Arial, sans-serif;
  color: #000;
}

.contactUsLink {
  font-weight: normal;
  margin: 0;
  font-size: func.toRem(18);
  font-weight: 400;
  font-family: Helvetica, Arial, sans-serif;
  color: #000;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: #000;
  text-decoration-offset: -2px;
}

.continueButton {
  font-size: 24px;
  max-width: 411px;
  height: 64px;
  background-color: #37643b;
  color: #fff;
  padding: 16px 76px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.infoBadge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  padding: 1px 0;
  border: 1.5px solid transparent;
  opacity: 1;
  margin-bottom: 5px;
}

@media (max-width: $m-viewport) {
  .thankYouPage {
    flex-direction: column;
  }

  .leftSide,
  .rightSide,
  .thankYouContainer {
    max-width: 100%;
  }
}

@media (max-width: $xs-viewport) {
  .thankYouPage {
    flex-direction: column;
    padding-top: func.toRem(24);
  }

  .leftSide {
    flex: 1;
    max-width: func.toRem(343);
    width: 100%;
  }

  .rightSide {
    flex: 1;
    max-width: func.toRem(343);
  }

  .helpContainer {
    margin-top: 18px;
  }

  .continueButton {
    margin-top: 18px;
    bottom: 16px;
    width: func.toRem(343);
    max-width: 400px;
    height: 56px;
    padding: 0;
    font-size: 24px;
    border-radius: 8px;
  }
}

@media (max-width: $m-viewport) {
  .thankYouPage {
    position: relative;
    padding-bottom: 32px;
  }
  .helpContainer {
    position: absolute;
    margin-top: 32px;
    bottom: 0;
    order: 2;
    left: 0;
    padding: 0 func.toRem(60);
    width: 100%;
    flex-direction: column;
  }
  .helpContainer.continueButton {
    position: absolute;
    margin-top: auto;
    bottom: 0;
    left: 0;
    padding: 0 func.toRem(60);
    width: 100%;
  }
}

@media (max-width: $sm-viewport) {
  .thankYouPage {
    flex-direction: column;
    padding: func.toRem(25);
    gap: func.toRem(16);
  }

  .leftSide,
  .rightSide {
    flex: 1;
    max-width: 100%;
    padding: 0;
  }

  .thankYouContainer {
    max-width: 100%;
    padding: func.toRem(16);
    margin-bottom: func.toRem(16);
  }

  .details p {
    font-size: func.toRem(14);
    padding: func.toRem(8) 0;
  }

  .shipping h3 {
    font-size: func.toRem(14);
    margin-bottom: func.toRem(12);
  }

  .helpContainer {
    flex-direction: column;
    align-items: center;
    margin-top: func.toRem(16);
  }

  .continueButton {
    width: 100%;
    max-width: 500px;
    height: func.toRem(48);
    font-size: func.toRem(24);
    padding: func.toRem(8);
    margin-top: func.toRem(16);
    border-radius: func.toRem(8);
  }

  .infoBadge {
    width: func.toRem(18);
    height: func.toRem(18);
    font-size: func.toRem(12);
  }

  .imageBadge {
    width: func.toRem(40);
    height: func.toRem(40);
    gap: func.toRem(2);
  }
}
