@use './normalize.scss';
@use './breakpoints.scss';
@use './colors.scss' as *;

* {
  box-sizing: border-box;
}

@function toRem($px) {
  @return calc($px / 10) + rem;
}

html {
  font-size: calc(100vw / 1360 * 10);

  @media (max-width: 1024px) {
    font-size: calc(100vw / 1024 * 10);
  }

  @media (max-width: 767px) {
    font-size: calc(100vw / 767 * 10);
  }

  @media (max-width: 500px) {
    font-size: calc(100vw / 500 * 10);
  }

  @media (max-width: 360px) {
    font-size: calc(100vw / 500 * 10);
  }
}

.active {
  color: $color-active;
  cursor: default;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
}

header {
  background-color: $c-bg;
  padding: toRem(20) 0;
  text-align: center;

  ul {
    display: flex;
    justify-content: center;
    gap: 15rem;
    font-size: 2.5rem;
    list-style: none;

    li {
      & > a {
        color: white;
        text-decoration: none;
        padding: 0 1rem;
      }

      & > a:hover {
        text-decoration: underline;
      }
    }
  }
}

footer {
  font-size: 2rem;
}

main {
  display: flex;
  justify-content: center;

  div {
    text-align: center;
  }
}

.shrek {
  width: 40rem;
}
