@font-face {
  font-family: 'Helvetica';
  src: url('./fonts/helvetica_regular.otf') format('otf');
  font-weight: normal;
  font-size: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('./fonts/helvetica_bold.otf') format('otf');
  font-weight: bold;
  font-size: normal;
}
