@use '../../../shared/styles/helpers/variables.scss' as *;
@use '../../../shared/styles/helpers/functions.scss' as func;

.title {
  font-weight: 700;
  font-size: func.toRem(32);
  color: $gray950;
  text-transform: uppercase;
  padding-bottom: 48px;
}

.btn {
  text-align: center;
  margin-top: func.toRem(37);

  & svg {
    stroke: $green;
  }

  &:hover svg {
    stroke: $gray950;
  }
}

.hideBtn {
  transform: rotate(180deg);
}

.productList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: func.toRem(24);
  padding-bottom: 48px;
}
