@use '../../../shared/styles/helpers/variables.scss' as *;
@use '../../../shared/styles/helpers/functions.scss' as func;

.title {
  font-weight: 700;
  font-size: func.toRem(32);
  color: $gray950;
  text-transform: uppercase;
  margin-bottom: func.toRem(48);

  @media (max-width: $s-viewport) {
    font-size: func.toRem(24);
    margin-bottom: func.toRem(24);
  }
}

.btn {
  margin: 0 auto;
  width: func.toRem(63);
  margin-top: func.toRem(60);
  cursor: pointer;

  @media (max-width: $s-viewport) {
    margin-top: func.toRem(48);
  }

  & svg {
    width: func.toRem(63);
    height: func.toRem(22);
    stroke: $green;
  }

  &:hover svg {
    stroke: $gray950;
  }
}

.hideBtn {
  transform: rotate(180deg);
}

.productList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);

  gap: func.toRem(24);

  @media (max-width: $m-viewport) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $s-viewport) {
    gap: func.toRem(15);
  }

  li {
    display: flex;
    justify-content: center;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeIn {
  animation: fadeIn 0.4s ease-in-out;
}

.fadeOut {
  animation: fadeOut 0.4s ease-in-out;
}
