@use '../../../shared/styles/helpers/variables.scss' as *;
@use '../../../shared/styles/helpers/functions.scss' as func;

.title {
  font-weight: 700;
  font-size: func.toRem(32);
  color: #1a1b1f;
  text-transform: uppercase;
  padding-bottom: 48px;
}

.btn {
  text-align: center;
  padding-bottom: 0;
}

.hideBtn {
  transform: rotate(180deg);
}

.productList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: func.toRem(24);
  padding-bottom: 48px;
}