@use '../../../shared/styles/helpers/variables.scss' as *;
@use '../../../shared/styles/helpers/functions.scss' as func;

.errorMessage {
  position: absolute;
  padding-top: func.toRem(6);
}

.warningIcon {
  width: func.toRem(13);
  height: func.toRem(13);
  margin-right: func.toRem(3);
}

.warning {
  font-size: func.toRem(12);
  color: $red;
}
