@use '../../../../../shared/styles/helpers/variables.scss' as *;
@use '../../../../../shared/styles/helpers/functions.scss' as func;

.favButton {
  svg {
    width: 24px;
    height: 24px;

    path {
      stroke: $green;
      transition: stroke 0.3s ease;
    }

    @media (min-width: $max-viewport) {
      width: func.toRem(24);
      height: func.toRem(24);
    }

    @media (max-width: $xs-viewport) {
      width: 22px;
      height: 20px;
    }
  }
}

.clicked {
  path {
    fill: $green;
  }
}
