@use '../../../../shared/styles/helpers/variables.scss' as *;
@use '../../../../shared/styles/helpers/functions.scss' as func;
@use '../../../../shared/styles/helpers/variables.scss' as *;

.banner {
  padding-bottom: func.toRem(56);

  @media (max-width: $xs-viewport) {
    padding-bottom: func.toRem(32);
  }
}

.bestsellers {
  height: 588px;
}

.subCategory {
  padding-top: func.toRem(56);
  padding-bottom: func.toRem(56);
}

.subscribe {
  padding-top: func.toRem(56);
  padding-bottom: func.toRem(72);

  @media (max-width: $xs-viewport) {
    padding-top: func.toRem(32);
    padding-bottom: func.toRem(44);
  }
}

.newProducts {
  height: 588px;
}

.stock {
  padding-top: func.toRem(56);
  padding-bottom: func.toRem(56);

  @media (max-width: $xs-viewport) {
    padding-top: func.toRem(32);
    padding-bottom: func.toRem(32);
  }
}

.title,
.bestsellers,
.subCategory,
.newProducts {
  margin-bottom: func.toRem(80);
}
