@use '../../../../shared/styles/helpers/functions.scss' as func;

.catigories {
  height: 56px;
  margin-bottom: func.toRem(30);
  margin-top: func.toRem(5);
}

.categoriesSlider {
  height: 496px;
  margin-bottom: func.toRem(50);
}

.title {
  height: 105px;
}

.bestsellers {
  height: 588px;
}

.subCategory,
.subscribe {
  padding-top: func.toRem(56);
  padding-bottom: func.toRem(56);
}

.newProducts {
  height: 588px;
}

.stock {
  height: 664px;
  background-color: gray;
}

.title,
.bestsellers,
.newProducts,
.stock {
  margin-bottom: func.toRem(80);
}
