@use '../styles/helpers/functions.scss' as func;
@use '../../shared/styles/helpers/mixins.scss' as mixin;
@use '../styles/helpers/variables.scss' as *;

.customCheckbox {
  display: flex;
}

.checkboxContainer {
  position: relative;
  width: func.toRem(20);
  height: func.toRem(20);
  cursor: pointer;
}

.checkbox {
  appearance: none;
  width: func.toRem(20);
  height: func.toRem(20);
  border: func.toRem(1) solid $green;
  border-radius: func.toRem(3);
  cursor: pointer;
  @include mixin.button-transition(background-color, 0.3s);
}

.label {
  font-size: func.toRem(18);
  line-height: func.toRem(21.6);
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: func.toRem(14);
}

.checkbox:checked {
  background-color: $green;
}

.checkbox:focus {
  box-shadow: 0px func.toRem(2) func.toRem(2) 0px #00000042;
}

.checkbox:disabled {
  cursor: default;
  background-color: $norway50;
  border: func.toRem(1) solid $norway200;
}

.labelDisabled {
  color: $gray300;
  cursor: default;
}

.checkbox:disabled + .checkmark svg {
  path {
    fill: $norway200;
  }
}

.checkmark svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  width: func.toRem(14);
  height: func.toRem(14);
}

@media (max-width: $xs-viewport) {
  .checkboxContainer {
    width: 20px;
    height: 20px;
  }

  .checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid $green;
    border-radius: 3px;
  }

  .label {
    font-size: 18px;
    line-height: 21.6px;
    padding-left: 14px;
  }

  .checkmark svg {
    width: 14px;
    height: 14px;
  }
}
