@use '../../../../shared/styles/helpers/variables.scss' as *;
@use '../../../../shared/styles/helpers/functions' as func;
@use '../../../../shared/styles/helpers/mixins.scss' as mixin;

.item {
  &:last-child {
    text-transform: uppercase;
    color: $red;
  }
}

.item {
  padding: func.toRem(14) 0;
  position: relative;
}

.navLink {
  font-size: func.toRem(20);
  line-height: func.toRem(24);
}

.arrow {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(50%);
}

.arrowRight,
.arrowLeft {
  width: 24px;
  height: 24px;
}

.navLink {
  display: flex;
  align-items: center;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.arrowBack {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 0;
  margin-bottom: 12px;
}

.subtitle {
  padding: func.toRem(17) 0 func.toRem(5) 0;
  border-top: 1px solid $green;
}

.info {
  margin-bottom: func.toRem(84);

  li {
    padding: func.toRem(14) 0;
  }
}

.subMenu {
  margin-bottom: func.toRem(84);

  .item {
    &:last-child {
      text-transform: initial;
      color: initial;
    }
  }
}
