@use '../../styles/helpers/variables.scss' as *;
@use '../../styles/helpers/functions.scss' as func;
@use '../../../shared/styles/helpers/mixins.scss' as mixin;

.navigation {
  border-radius: func.toRem(8);
  padding: func.toRem(17);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: func.toRem(24);
  cursor: pointer;
  text-align: center;
  @include mixin.button-transition(background-color, 0.3s);

  svg {
    width: func.toRem(30);
    height: func.toRem(30);
    path {
      stroke: $black;
    }
  }

  @media (max-width: $s-viewport) {
      padding: 14px;
      svg {
        width: 25px;
        height: 25px;
      }
  }
}

.icon {
  svg {
    margin-left: func.toRem(10);
  }
}

.green {
  background-color: $green;
  color: $white;
  @include mixin.button-transition(background-color, 0.3s);

  svg {
    path {
      stroke: $white;
    }
  }

  &:hover {
    background-color: $greenHover;
  }

  &:focus {
    background-color: $greenFocus;
    box-shadow: 0px 4px 8px 0px #0000001a;
  }

  &:active {
    background-color: $greenActive;
  }

  &:disabled {
    pointer-events: none;
    background-color: $disable;
    color: $gray600;

    svg {
      path {
        stroke: $gray600;
      }
    }
  }
}

.white {
  background-color: $white;
  color: $black;
  @include mixin.button-transition(background-color, 0.3s);

  &:hover {
    background-color: $whiteHover;
  }

  &:focus {
    background-color: $whiteFocus;
    box-shadow: 0px 4px 8px 0px #0000001a;
  }

  &:active {
    background-color: $whiteActive;
  }

  &:disabled {
    pointer-events: none;
    background-color: $disable;
    color: $gray600;

    svg {
      path {
        stroke: $gray600;
      }
    }
  }
}
