@use '../../styles/helpers/variables.scss' as *;
@use '../../styles/helpers/functions.scss' as func;

.categoriesButton {
  background-color: rgba(50, 55, 62, 1);
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.4px;
  color: #fff;
  display: inline-block;
  border-radius: 15px;
  vertical-align: middle;
}

.iconContainer {
  padding: func.toRem(14) func.toRem(13.5);
  display: flex;

  @media (max-width: $xs-viewport) {
    padding: 10.85px;
  }
}

.icon img {
  width: func.toRem(24);
  height: func.toRem(24);

  @media (max-width: $xs-viewport) {
    width: 19.29px;
    height: 19.29px;
  }
}

.text {
  padding: 14px func.toRem(133);
  border-radius: 15px;
  line-height: 22px;

  @media (max-width: $xs-viewport) {
    padding: 14px 45px;
  }
}
