@use '../../../../shared/styles/helpers/variables.scss' as *;
@use '../../../../shared/styles/helpers/functions.scss' as func;

.searchForm {
  width: 216px;
  position: relative;
  overflow: hidden;
  transition: width 0.5s ease;
}

.expanded {
  width: 293px;
}

.label {
  display: block;
}

.searchInput {
  width: 100%;
  font-size: func.toRem(16);
  padding: func.toRem(1.5) func.toRem(20) func.toRem(5.5) func.toRem(32);
  border: none;
  border-bottom: func.toRem(1) solid $black;
  position: relative;
}

.searchInput::placeholder {
  color: $gray200;
}

.searchInput:focus {
  color: $black;
  outline-color: transparent;
}

.searchButton {
  position: absolute;
  left: 0;
  top: 0;
  width: func.toRem(25);
  height: func.toRem(25);
  z-index: 1;
}