@use '../../../../shared/styles/helpers/variables.scss' as *;
@use '../../../../shared/styles/helpers/functions.scss' as func;

.searchForm {
  width: func.toRem(216);
  position: relative;
  transition: width 0.5s ease;

  @media (max-width: $s-viewport) {
    width: 216px;
  }
}

.expanded {
  width: func.toRem(293);

  @media (max-width: $xs-viewport) {
    width: 216px;
  }
}

.label {
  display: block;
}

.searchInput {
  width: 100%;
  font-size: func.toRem(16);
  padding: func.toRem(7) func.toRem(20) func.toRem(5.5) func.toRem(32);
  border: none;
  border-bottom: 1px solid $black;
  position: relative;
}

.searchInput::placeholder {
  color: $gray200;
}

.searchInput:focus {
  color: $black;
  outline-color: transparent;
}

.searchButton {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: func.toRem(25);
  height: func.toRem(25);
  z-index: 1;
}

.clearButton {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 12px;
  height: 12px;
  margin: 6px;

  svg {
    stroke-width: 1.5px;
  }
}

.searchResults {
  position: absolute;
  background-color: white;
  padding: 16px;
  border-radius: 0 0 8px 8px;
  top: 35px;
  width: 100%;
  z-index: 1;
}
