@use '../../../../shared/styles/helpers/variables.scss' as *;
@use '../../../../shared/styles/helpers/functions.scss' as func;

.form {
  width: 100%;
}

.column {
  display: flex;
}

.field {
  position: relative;
  margin-bottom: func.toRem(38);

  &:first-child {
    margin-right: func.toRem(24);
  }
}

.input {
  width: func.toRem(353);
  border: none;
  border-bottom: 1px solid $black;
  outline-color: transparent;
  padding-bottom: func.toRem(8);

  &::placeholder {
    font-size: func.toRem(16);
    line-height: func.toRem(22.4);
  }
}

.saveInfo {
  padding-top: func.toRem(14);
}

@media (max-width: $m-viewport) {
  .field,
  .input {
    width: 100%;
  }
}

@media (max-width: $sm-viewport) {
  .column {
    flex-direction: column;
  }

  .field {
    &:first-child {
      margin-right: 0;
    }
  }

  .input {
    width: 100%;
  }
}

@media (max-width: $xs-viewport) {
  .field {
    margin-bottom: 36px;
  }

  .saveInfo {
    padding-top: 8px;
  }
}
