@use '../../../../shared/styles/helpers/variables.scss' as *;
@use '../../../../shared/styles/helpers/functions.scss' as func;

.form {
  width: 100%;
}

.column {
  margin-bottom: func.toRem(18);
  display: flex;
}

.field {
  position: relative;
  width: 100%;
}

.input {
  max-width: func.toRem(424);
  border: none;
  border-bottom: 1px solid $black;
  width: 100%;
  outline-color: transparent;
  padding-bottom: func.toRem(8);

  &::placeholder {
    font-size: func.toRem(16);
    line-height: func.toRem(22.4);
  }
  &:first-child {
    margin-right: func.toRem(24);
  }
}

.saveInfo {
  padding-top: func.toRem(14);
}

@media (max-width: $m-viewport) {
  .column {
    margin-bottom: 0;
  }

  .input {
    margin-bottom: 18px;

    &:first-child {
      margin-right: 0;
    }
  }
}

@media (max-width: $xs-viewport) {
  .saveInfo {
    padding-top: 8px;
  }
}
