//vars
$default-font: 16;

//colors
$c-bg: #181518;
$color-active: #1f3522;
$error: #E30000;

//???
$red: #d92d20;

$pastelGreen: #f2f7f2;
$lightMint: #c2d9c1;
$emerald: #0e8345;
$green: #37643b;
$deepGreen: #2c5030;
$darkGreen: #254028 ;
$forestGreen: #111D13  ;

$white: #ffff;
$platinum: #f2f7f2;

$silver: #d1d1d1;
$ightGray: #c7c7c7;
$grey: #b0b0b0;
$mediumGrey: #868484;

$slateGray: #475156;
$gunmetalGrey: #32373e;
$darkGrey: #3d3d3d;
$jetBlack: #313131;

$dark: #1a1b1f;
$black: #0000;

//viewports
$xs-viewport: 376px;

$s-viewport: 500px;

$m-viewport: 1024px;

$l-viewport: 1440px;

$xl-viewport: 1919px;

$max-viewport: 1440px;
