@use '../../../shared/styles/helpers/variables.scss' as *;
@use '../../../shared/styles/helpers/functions.scss' as func;

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: func.toRem(312);
  border-radius: func.toRem(8);
  background-color: $white;
  transition: box-shadow 0.3s;
  height: func.toRem(452);

  &:hover {
    box-shadow: 0px func.toRem(1) func.toRem(4) 0px #00000029;

    .cardWishButton svg path {
      stroke: $norway900;
    }
  }

  @media (min-width: $max-viewport) {
    max-width: func.toRem(312);
  }

  @media (max-width: $m-viewport) {
    max-width: func.toRem(290);
  }

  @media (max-width: $s-viewport) {
    max-width: func.toRem(220);
    max-height: func.toRem(350);
  }

  @media (max-width: $xs-viewport) {
    width: 164px;
    height: 255px;
  }
}

.cardTop {
  height: func.toRem(300);
  display: flex;
  justify-content: center;
  padding: func.toRem(30) 0 func.toRem(18) 0;

  @media (max-width: $s-viewport) {
    max-height: func.toRem(230);
  }

  @media (max-width: $xs-viewport) {
    height: 164px;
  }
}

.cardImg {
  width: 100%;
  height: auto;
  object-fit: contain;
  cursor: pointer;
}

.content {
  padding: func.toRem(16) func.toRem(16) func.toRem(24) func.toRem(16);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $max-viewport) {
    padding: func.toRem(16) func.toRem(16) func.toRem(24) func.toRem(16);
  }

  @media (max-width: $s-viewport) {
    padding: 8px 9px 12px 8px;
  }
}

.cardTitle {
  font-weight: 700;
  font-size: func.toRem(20);
  line-height: func.toRem(24);
  max-width: func.toRem(270);
  padding: func.toRem(10) func.toRem(16) 0 func.toRem(16);
  flex-grow: 1;

  @media (max-width: $s-viewport) {
    font-size: 18px;
    line-height: 18px;
  }

  @media (max-width: $xs-viewport) {
    font-size: 14px;
    line-height: 18px;
    padding: func.toRem(8) func.toRem(8) 0 func.toRem(8);
  }
}

.cardActionInner {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.oldPrice {
  display: block;
  font-size: func.toRem(16);
  line-height: func.toRem(18.4);
  color: rgba(176, 176, 176, 1);
  margin-bottom: func.toRem(4);
  text-decoration: line-through;
  text-decoration-thickness: func.toRem(0.8);

  @media (max-width: $s-viewport) {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 3px;
  }

  @media (max-width: $xs-viewport) {
    font-size: 8px;
    line-height: 9.5px;
    margin-bottom: 2px;
  }
}

.cardPrice {
  font-weight: 700;
  font-size: func.toRem(20);
  line-height: func.toRem(18);

  @media (min-width: $max-viewport) {
    font-size: func.toRem(20);
  }

  @media (max-width: $s-viewport) {
    font-size: 16px;
    line-height: 14px;
  }

  @media (max-width: $xs-viewport) {
    font-size: 12px;
    line-height: 12px;
  }
}

.cardWishButton {
  position: absolute;
  top: func.toRem(20);
  right: func.toRem(20);

  @media (min-width: $max-viewport) {
    font-size: func.toRem(20);
  }

  @media (max-width: $xs-viewport) {
    top: 16px;
    right: 10px;
  }
}