@use '../../../shared/styles/helpers/variables.scss' as *;
@use '../../../shared/styles/helpers/functions.scss' as func;

.card {
  position: relative;

  width: func.toRem(312);
  height: func.toRem(452);
  border-radius: 8px;
  background-color: white;

  @media (min-width: $max-viewport) {
    max-width: func.toRem(312);
  }
}

.cardTop {
  height: func.toRem(300);
  display: flex;
  justify-content: center;
  padding: func.toRem(30) 0 func.toRem(18) 0;
}

.cardImg {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.content {
  padding: 16px 16px 24px 16px;
  height: func.toRem(152);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $max-viewport) {
    padding: func.toRem(16) func.toRem(16) func.toRem(24) func.toRem(16);
  }
}

.cardTitle {
  font-family: 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: func.toRem(22);

  @media (max-width: $s-viewport) {
    margin-bottom: func.toRem(20);
  }

  @media (max-width: $xs-viewport) {
    font-size: func.toRem(14);
    line-height: 18px;
    margin-bottom: 15px;
  }
}

.cardActionInner {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.oldPrice {
  display: block;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: rgba(176, 176, 176, 1);
  margin-bottom: 4px;
  text-decoration: line-through;
  text-decoration-thickness: 0.5px;
}

.cardPrice {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 18px;

  @media (min-width: $max-viewport) {
    font-size: func.toRem(20);
  }

  @media (max-width: $s-viewport) {
    font-size: 14px;
  }
  @media (max-width: $xs-viewport) {
    font-size: func.toRem(12);
  }
}

.cardWishButton {
  position: absolute;
  top: 20px;
  right: 19px;
  transform: translateY(-12px);

  @media (min-width: $max-viewport) {
    font-size: func.toRem(20);
    transform: translateY(func.toRem(-12));
  }

  @media (max-width: $xs-viewport) {
    top: 15px;
    right: 10px;
  }
}
