@use '../../../../shared/styles/helpers/variables.scss' as *;
@use '../../../../shared/styles/helpers/functions' as func;
@use '../../../../shared/styles/helpers/mixins.scss' as mixin;

.top {
  background-color: $green;
  padding: func.toRem(10) 0;
  color: white;

  @media (max-width: $s-viewport) {
    padding: 6px 0;
  }
}

.topInner {
  @include mixin.flexible;
}

.info {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-grow: 1;
}

.logo {
  color: $white;
  display: none;

  @media (max-width: $m-viewport) {
    display: block;
  }
}

.link {
  display: flex;
  justify-content: end;
  padding: 0 12px;
  font-size: 12px;
  line-height: 12px;

  &:last-child {
    padding-right: 0;
    border-left: 1px solid $white;
  }
}
